.preguntas-background {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #00c853,
    #ff8f00,
    #ffe600,
    #ec407a,
    #1e88e5,
    #f44336
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.preguntas-background.fondo1 {
  background-image: url("../assets/fondos/fondo1.jpg");
}

.preguntas-background.fondo2 {
  background-image: url("../assets/fondos/fondo2.jpg");
}

.preguntas-background.fondo3 {
  background-image: url("../assets/fondos/fondo3.jpg");
}

.preguntas-background.fondo4 {
  background-image: url("../assets/fondos/fondo4.jpg");
}

.preguntas-background.fondo5 {
  background-image: url("../assets/fondos/fondo5.jpg");
}

.preguntas-background.fondo6 {
  background-image: url("../assets/fondos/fondo6.jpg");
}

.preguntas-background.fondo7 {
  background-image: url("../assets/fondos/fondo7.jpg");
}

.preguntas-background.fondo8 {
  background-image: url("../assets/fondos/fondo8.jpg");
}

.preguntas-background.fondo9 {
  background-image: url("../assets/fondos/fondo9.jpg");
}

.preguntas-background.fondo10 {
  background-image: url("../assets/fondos/fondo10.jpg");
}

.cantidad-preguntas {
  text-shadow: 0 0 5px rgb(38, 0, 255), 0 0 10px rgb(204, 56, 184);
  position: relative;
  z-index: 1;
}

.preguntas-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}
.modal-opciones {
  background: white;
  padding: 40px 50px;
  border-radius: 25px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  z-index: 1;
}

.pregunta {
  color: black;
  margin-bottom: 0;
}

.opciones-preguntas {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.opciones-preguntas button {
  width: 100%;
  background: #ffffff;
  border: none;
  padding: 12px 18px;
  border-radius: 999px;
  margin-top: 12px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.18);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  color: black;
  font-family: "Baloo 2", sans-serif;
}

.opciones-preguntas button:hover {
  background-color: #ddd;
}

.boton-pregunta.boton-correcto {
  background: #4cd964;
  color: #000;
}

.boton-pregunta.boton-incorrecto {
  background: #e72f21;
  color: #000;
}
