.resultados-background {
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/resultados.jpg');
    color: white; 
    font-family: "Baloo 2";
    position: relative; 
    overflow: hidden; 
}

.resultados-container {
    background: rgba(255, 255, 255, 0.1); 
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 100px;
    z-index: 10; /*por encima*/
}

.resultados-container h1 {
    font-size: 2.5em;
    margin: 15px 0;
    color: #f0f0f0;
}

.boton-replay button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #61dafb; 
    color: #282c34;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 10; 
    font-family: "Baloo 2";
}

.boton-replay button:hover {
    background-color: #4ac6eb;
    transform: translateY(-2px);
}

.boton-replay button svg {
    font-size: 1.5em; 
}